# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  isMaster: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]
  # Default Ivy local root; override for tests if needed
  ivy2Local: '/home/vsts/.ivy2/local'

steps:
- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'SynapseML Build'
    keyVaultName: mmlspark-keys
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '8'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'
- bash: |
    sbt +publishLocalSigned
  env:
    NEXUS-UN: $(nexus-un)
    NEXUS-PW: $(nexus-pw)
    PGP-PRIVATE: $(pgp-private)
    PGP-PUBLIC: $(pgp-public)
    PGP-PW: $(pgp-pw)
  displayName: 'publish local signed'
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true
- bash: |
    python -m pip install --upgrade pip
    python prepare_jar.py
    for d in "$IVY2_LOCAL"/com.microsoft.azure/onnx-protobuf_*/*; do echo "Contents of $d"; ls -la "$d"; done
  env:
    IVY2_LOCAL: $(ivy2Local)

  #- task: EsrpCodeSigning@3
#  inputs:
#    ConnectedServiceName: 'DataScienceESRPSign'
#    FolderPath: '/home/vsts/.ivy2/local/com.microsoft.azure/onnx-protobuf_2.12'
#    Pattern: '*.jar'
#    signConfigType: 'inlineSignParams'
#    inlineOperation: |
#      [
#        {
#          "KeyCode" : "CP-447347-Java",
#          "OperationCode" : "JavaSign",
#          "Parameters" : {
#              "SigAlg" : "SHA256withRSA",
#              "Timestamp" : "-tsa http://sha256timestamp.ws.digicert.com/sha256/timestamp"
#          },
#          "ToolName" : "sign",
#          "ToolVersion" : "1.0"
#        },
#        {
#            "KeyCode" : "CP-447347-Java",
#            "OperationCode" : "JavaVerify",
#            "Parameters" : {},
#            "ToolName" : "sign",
#            "ToolVersion" : "1.0"
#        }
#      ]
#    SessionTimeout: '60'
#    MaxConcurrency: '50'
#    MaxRetryAttempts: '5'
#  displayName: 'CodeSign First Party'
  
- task: EsrpRelease@3
  inputs:
    ConnectedServiceName: 'DataScienceESRPRelease'
    Intent: 'PackageDistribution'
    ContentType: 'Maven'
    PackageLocation: '/home/vsts/.ivy2/local/com.microsoft.azure/onnx-protobuf_2.12'
    Owners: 'admukund@microsoft.com,richwyd@microsoft.com,taniaarya@microsoft.com,alsavelv@microsoft.com,marcozo@microsoft.com,romanbat@microsoft.com'
    Approvers: 'romanbat@microsoft.com,markus.weimer@microsoft.com,negust@microsoft.com'
    ServiceEndpointUrl: 'https://api.esrp.microsoft.com'
    MainPublisher: 'synapseml'
    DomainTenantId: '72f988bf-86f1-41af-91ab-2d7cd011db47'
  displayName: 'ESRP Publish Package'

- task: EsrpRelease@3
  inputs:
    ConnectedServiceName: 'DataScienceESRPRelease'
    Intent: 'PackageDistribution'
    ContentType: 'Maven'
    PackageLocation: '/home/vsts/.ivy2/local/com.microsoft.azure/onnx-protobuf_2.13'
    Owners: 'admukund@microsoft.com,richwyd@microsoft.com,taniaarya@microsoft.com,alsavelv@microsoft.com,marcozo@microsoft.com,romanbat@microsoft.com'
    Approvers: 'romanbat@microsoft.com,markus.weimer@microsoft.com,negust@microsoft.com'
    ServiceEndpointUrl: 'https://api.esrp.microsoft.com'
    MainPublisher: 'synapseml'
    DomainTenantId: '72f988bf-86f1-41af-91ab-2d7cd011db47'
  displayName: 'ESRP Publish Package (2.13)'
